
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allows any authenticated user to read/write project photos.
    // The logic to control *which* user can edit/create is in the app code.
    match /project-photos/{allPaths=**} {
      allow read;
      allow write: if request.auth != null;
    }

    // Allows any authenticated user to read/write task attachments.
    // App logic should verify that the user is assigned to the task.
    match /attachments/{taskId}/{allPaths=**} {
      allow read;
      allow write: if request.auth != null;
    }
    
    // Allows any authenticated user to upload their attendance photo.
    match /attendance-photos/{allPaths=**} {
      allow read;
      allow write: if request.auth != null;
    }
  }
}
